header
{
    width: 100%;
    background-color: blueviolet;
    color: aliceblue;
}



.prenoms
{
    display: flex;
    
    align-items: flex-end;
    justify-content: space-evenly ;
    flex-direction: row;
    

    color: aliceblue;
    
}

.cathegorie
{
    display: flex;
    justify-content: space-around;
}

a
{
    text-decoration: none;
    color: aliceblue ;
}

main
{
    background-color: aquamarine;
    display: flex;
}

.biographie
{
    display: flex;
    text-align: column ;
}